@font-face {
   font-family: roboto;
   src: url(./Roboto-Regular.ttf);
}

html,
body {
   padding: 0;
   margin: 0;
   line-height: 1.6;
   font-size: 18px;
   background-color: #ffffff;
   font-family: roboto;
}

* {
   box-sizing: border-box;
}

a {
   color: #0070f3;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

img {
   max-width: 100%;
   display: block;
}

h1 {
   font-family: roboto;
}


.header {
   width: auto;
   align-content: center;
   text-align: center;
}


.btn {
   text-align: center;
}

.flex-container {
   display: flex;
   flex-flow: column wrap;
   justify-content: space-evenly;
}

ul {
   list-style-type: none;
}